<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/fragments/fragments :: head}"></head>


<body>

<!--Top Navigation Bar  -->
<section th:insert="~{fragments/fragments :: header}"></section>


<!--Title -->
<div class="container-fluid ">
    <br>
    <h3 th:text="${title}"></h3>
    <br>
</div>

<!--Body-->


<!--Bellow Bar -->
<div class="">
    <section th:insert="~{fragments/fragments :: find-your-branch}"></section>
    <footer id="footer" th:insert="~{fragments/fragments :: footer}"> </footer >
</div>

</body>
</html>