<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="~{/template/plantilla :: head}"></head>

<body>

    <!--Top Navigation Bar  -->
    <section th:insert="~{/template/plantilla :: header}"></section>


    <!--Title -->
    <div class="container-fluid ">
        <br>
        <h3 th:text = "${title}"></h3>
        <br>
    </div>

    <h2>Welcome</h2>

    <p>Spring Security Thymeleaf tutorial</p>
    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
    <div sec:authorize="hasAuthority('ADMIN')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">
        Text visible only to authenticated users.
    </div>
    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>

    Logged user: <span sec:authentication="name">Bob</span>
    Roles: <span sec:authentication="principal.authorities"></span>

    <!--Body-->
    <div class="container-fluid ">
        <p>We are a family branch, all together believe in JAVA and Spring</p>
        <br>
        <p>Bienvenido <span sec:authentication="principal.username"> </span></p>

        <a href="https://github.com/MiquelDebon/CI_05_02_03_DiceGame_SB_JWT_Thymeleaf_Frontend"> If you want more information - Github </a>
    </div>


<!--Bellow Bar -->
<div class="">
    <section th:insert="~{/template/plantilla :: find-your-branch}"></section>
    <footer id="footer" th:insert="~{/template/plantilla :: footer}"> </footer >
</div>

</body>
</html>