<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:insert="~{/fragments :: head}"></head>


<body>

<!--Top Navigation Bar  -->
<section th:insert="~{/fragments :: header}"></section>


<!--Title -->
<div class="container-fluid ">
    <br>
    <h3 th:text="${title}"></h3>
    <br>
</div>

<!--Body-->
<section id="table-content container">

    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">

            <div th:if="${param.registrado}">
                <div class="alert alert-info"> Se ha registrado correctamente</div>
            </div>
            <div th:if="${param.exito}">
                <div class="alert alert-info"> Login correcto</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-warning"> Ha cerrado sessión correctamente</div>
            </div>
            <div th:if="${param.error}" class="alert alert-danger">
                Error - Username or email doesn't exists!
            </div>


            <form th:action="@{/page/login}" method="post" role="form">
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input
                            id="username"
                            type="email"
                            name="username"
                            required autofocus="autofocus"
                            class="form-control"
                            placeholder="email@example.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            id="password"
                            type="password"
                            name="password"
                            required
                            class="form-control"
                            placeholder="Password">
                </div>

                <br>

                <input
                        type="submit"
                        value="Log in"
                        class="form-control  btn btn-primary">


            </form>

            <br>
            <a href="#" th:href="@{/page/register}" style="color:MediumSeaGreen;">
                Don't have an account already? Register Here.</a>
            <br>
            <a href="#">Forgot password?</a>
            <br>

        </div>
    </div>

</section>

<!--Bellow Bar -->
<div class="">
    <section th:insert="~{/fragments :: find-your-branch}"></section>
    <footer id="footer" th:insert="~{/fragments :: footer}"> </footer >
</div>

</body>
</html>