<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head th:insert="~{/template/plantilla :: head}"></head>


<body>

<!--Top Navigation Bar  -->
<section th:insert="~{template/plantilla :: header}"></section>


<!--Title -->
<div class="container-fluid ">
    <br>
    <h3 th:text="${title}"></h3>
    <br>
</div>

<!--Body-->
<section id="table-content container">

    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div th:if="${param.exito}">
                <div class="alert alert-info"> Se ha registrado correctamente</div>
            </div>
            <div th:if="${param.fail}" class="alert alert-danger">
                Error - Username or email already exists!
            </div>
            <div th:if="${param.error}" class="alert alert-danger">
                Error - Username or email already exists!
            </div>

            <form th:action="@{/page/actionRegister}" th:object="${registerRequest}" method="post">
                <div class="form-group">
                    <label for="firstname"> First name</label>
                    <input  id="firstname" type="text"  th:field="*{firstname}"
                            class="form-control" placeholder="Paco">
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input id="lastname" type="password" th:field="*{lastname}"
                           class="form-control" placeholder="Password" >
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input id="email" type="email" th:field="*{email}"
                           class="form-control"  placeholder="exampleemail@gmail.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}"
                           class="form-control"  placeholder="Password">
                </div>
                <!--                <div class="form-check">-->
                <!--                    <input type="checkbox" class="form-check-input" id="dropdownCheck">-->
                <!--                    <label class="form-check-label" for="dropdownCheck">-->
                <!--                        Remember me-->
                <!--                    </label>-->
                <!--                </div>-->
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Si estas registrado, inicia sesion</span>
                </div>
            </form>

            <br>
            <a href="#" th:href="@{/page/login}" style="color:DodgerBlue;" > Already registered? Log in</a>
            <br>

        </div>
    </div>

</section>

<!--Bellow Bar -->
<div class="">
    <section th:insert="~{template/plantilla :: find-your-branch}"></section>
    <footer id="footer" th:insert="~{template/plantilla :: footer}"> </footer >
</div>

</body>
</html>